<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RVCAndroid">
        <!-- libQnnHtpV79Stub.so transitively depends on libcdsprpc.so
             (Compute DSP RPC), which lives at /vendor/lib64/ on
             Snapdragon devices. Without this declaration the app's
             linker namespace can't resolve it and QnnDevice_create
             fails with "loadRemoteSymbols failed with err 4000". -->
        <uses-native-library
            android:name="libcdsprpc.so"
            android:required="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.RVCAndroid">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
